# See https://help.github.com/ignore-files/ for more about ignoring files.

# log files
*.log*

# js files
*.js
*.js.map

# dependencies
/node_modules

# output 
/src/tasks 

# misc
.DS_Store
.env
npm-debug.log*

